﻿@model Web_Node.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#show_password').hover(function show() {
            $('#Password').attr('type', "text");
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                $('#Password').attr('type', 'password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            });
        $('#ShowPassword').click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });


    });

</script>
<div class="row align-items-center">
    <div class="col-8 col-md-8"><h2 class="m-0"><i class="fas fa-plus mr-2 " style="opacity:0.2;" aria-hidden="true"></i> Create New User</h2></div>
    <div class="col-4 col-md-4 text-right">
        <a href="@Url.Action("ListUsers","Account")" class="btn bg-white text-dark"><i class="fas fa-arrow-left mr-2"></i>  Back to List</a>
    </div>
</div>
<br />
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="panel bg-white px-4 py-4 form-horizontal">
        <div>USER LOGIN DETAILS</div>
        <hr>
        @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(u => u.FirstName, new { @class = "text-nowrap control-label" })
                @Html.EditorFor(u => u.FirstName, new { htmlAttributes = new { @class = "form-control ", placeholder = "First Name" } })
                @Html.ValidationMessageFor(u => u.FirstName)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(u => u.LastName, new { @class = "text-nowrap control-label" })
                @Html.EditorFor(u => u.LastName, new { htmlAttributes = new { @class = " form-control ", placeholder = "Last Name" } })
                @Html.ValidationMessageFor(u => u.LastName)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(u => u.Email, new { @class = "text-nowrap control-label " })
                @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @class = " form-control", placeholder = "Email Address" } })
                @Html.ValidationMessageFor(u => u.Email)
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(u => u.UserName, new { @class = "text-nowrap control-label " })
                @Html.EditorFor(u => u.UserName, new { htmlAttributes = new { @class = " form-control ", placeholder = "Login Name" } })
            </div>
        </div>*@
        <div class="col-md-6">
            <div class="form-group">
                <label class="text-nowrap control-label">Company</label>
                @Html.DropDownListFor(u => u.CompanyCode, new SelectList(ViewBag.CustomerList.Items, "C_CODE", "C_NAME", null), "none selected", new { @class = "form-control" })
            </div>
        </div>



        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(u => u.Password, new { @class = "text-nowrap control-label" })
                <div class="input-group-append">
                    @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = " form-control", placeholder = "Password", } })
                    <button id="show_password" class="btn btn-primary" type="button">
                        <span class="fa fa-eye-slash icon" />
                    </button>

                </div>
                @Html.ValidationMessageFor(u => u.Password)

            </div>
        </div>
    </div>
        <br/><br/>
        <div>DEFAULT USER ROLE</div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">Select Role</label>
                    @Html.DropDownList("RoleList", (IEnumerable<SelectListItem>)ViewBag.Roles, "(none selected)", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-12 text-center">
                <br/>
                <button type="submit" class="btn btn-primary px-5">
                    <i class="fas fa-save"></i>  Save CHANGES
                </button>
            </div>
        </div>
    </div>
   

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
