﻿@model Web_Node.Models.ProfileViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-8 col-md-8"><h2 class="m-0"><i class="fas fa-user-circle mr-2 " style="opacity:0.2;" aria-hidden="true"></i> Edit <strong>@Model.CustProfile.C_NAME</strong></h2></div>
    <div class="col-4 col-md-4 text-right">
        <a href="/Profile/Index" class="btn bg-white text-dark"><i class="fas mr-2 fa-arrow-left" aria-hidden="true"></i><span> Back to List</span></a>
    </div>
</div>
<br />

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { id = "idMyForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("P_ID", Model.Profile.P_ID)
    <div class="panel bg-white px-4 py-4 form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div>CUSTOMER DETAILS</div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label"> Description</label>
                    @Html.TextBox("P_DESCRIPTION", Model.Profile.P_DESCRIPTION, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Sender ID</label>
                    @Html.TextBox("P_SENDERID", Model.Profile.P_SENDERID, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label" for="Customer_C_CODE">Recipeint ID</label>
                    @Html.TextBox("P_RECIPIENTID", Model.Profile.P_RECIPIENTID, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Purpose Code</label>
                    @Html.TextBox("P_REASONCODE", Model.Profile.P_REASONCODE, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Event Code</label>
                    @Html.TextBox("P_EVENTCODE", Model.Profile.P_EVENTCODE, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Subject</label>
                    @Html.TextBox("P_SUBJECT", Model.Profile.P_SUBJECT, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Message Type</label>
                    @Html.DropDownList("P_MSGTYPE", null, Model.Profile.P_MSGTYPE, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Direction</label>
                    @Html.DropDownList("P_DIRECTION", null, Model.Profile.P_DIRECTION, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label d-block" for="Customer_C_PATH">Bill to</label>
                    @Html.DropDownList("P_BILLTO", null, Model.Profile.P_BILLTO, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="btn bg-light d-flex align-items-center">
                    <div class="pt-2">
                        <span class="form-checkbox">@Html.CheckBox("P_ACTIVE", Model.Profile.P_ACTIVE == "Y" ? true : false, new { })</span>
                    </div>
                    <div>
                        <label class="text-nowrap my-0 control-label pl-3" for="C_ISACTIVE">Is Active</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <div class="text-uppercase">Received / Send Properties</div>
                <hr />
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class=" control-label">Method</label>
                    <select class="form-control d-block">
                        <option value="FTP">FTP</option>
                    </select>
                </div>
            </div>*@
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Server Address</label>
                    @Html.TextBox("P_SERVER", Model.Profile.P_SERVER, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Port</label>
                    @Html.TextBox("P_PORT", Model.Profile.P_PORT, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Folder</label>
                    @Html.TextBox("P_PATH", Model.Profile.P_PATH, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Username</label>
                    @Html.TextBox("P_USERNAME", Model.Profile.P_USERNAME, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Secure FTP</label>
                    <div class="btn border-gray d-flex align-items-center">
                        <div class="pt-2">
                            <span class="form-checkbox">@Html.CheckBox("P_SSL", Model.Profile.P_SSL == "Y" ? true : false, new { })</span>
                        </div>
                        <div>
                            <label class="text-nowrap my-0 control-label pl-3" for="C_ISACTIVE">Yes</label>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Fingerprint</label>
                    <input class="form-control" />
                </div>
            </div>*@
        </div>

        <div class="row">
            <div class="col-md-12">
                <br />
                <div>CONVERSION LIBRARY</div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Conversion Library Name</label>
                    @Html.TextBox("P_LIBNAME", Model.Profile.P_LIBNAME, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Custom Method Name</label>
                    @Html.TextBox("P_METHOD", Model.Profile.P_METHOD, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="Customer_C_NAME" class="control-label">Any Special Parameters</label>
                    @Html.TextBox("P_PARAMLIST", Model.Profile.P_PARAMLIST, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <br />
        <div class="row justify-content-end">
            <div class="col">
                <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-2 "></i> Save Changes</button>
            </div>

        </div>
    </div>
    <br />
}





