﻿@model Web_Node.Models.ProfileViewModel

@section styles {
    @Styles.Render("https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css")
    @Styles.Render("https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css")

}

@section scripts{
    @Scripts.Render("https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js")
    @*@Scripts.Render("https://code.jquery.com/jquery-3.5.1.js");*@
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js")




    <script type="text/javascript">

    //Ensures that nothing will happen until the whol page has been rendered.
    $(document).ready(function () {
        $('#profileList').DataTable();
    });


    </script>
}

<div class="row align-items-center">
    <div class="col-8 col-md-8"><h2 class="m-0"><i class="fas fa-user-circle mr-2 " style="opacity:0.2;" aria-hidden="true"></i> Profiles</h2></div>
    <div class="col-4 col-md-4 text-right">
    </div>
</div>
<br />
<div class="profileholder table-responsive">
    <table id="profileList" class="table ">
        <thead>
            <tr>
                <th style="min-width:260px;">Customer Name</th>
                <th class="hide-open">Customer Code</th>
                <th class="hide-open">Profile Description</th>
                <th style="max-width:70px;">ACTIVE</th>
                <th>Tasklist</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prof in Model.Profiles)
            {
                <tr class="profileholder-item">
                    <td>
                        <a href="@Url.Action("Edit", "Profile", new { @id = prof.P_ID }, null)" class="text-dark profile-cname">
                            <div class="d-flex align-items-center">
                                <div><span class="icon-circle  bg-transparent"><i class="  fa fa-user-circle" aria-hidden="true"></i></span></div>
                                <div class="px-2">
                                    <strong>
                                        @prof.P_DESCRIPTION
                                    </strong>
                                </div>
                            </div>
                        </a>
                    </td>
                    <td class="hide-open">@prof.C_CODE</td>
                    <td class="hide-open">@prof.C_NAME</td>
                    <td>
                        @if (prof.P_ACTIVE == "Y")
                        {
                            <span class="badge d-block py-1 fs-14 badge-success">ACTIVE</span>
                        }
                        else
                        {
                            <span class="badge d-block py-1 fs-14 badge-danger">INACTIVE</span>
                        }
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            @*<div class="ml-auto"> <a href="@Url.Action("Edit", "Profile", new { @id = prof.P_ID }, null)" class="d-block text-primary mx-1" data-toggle="tooltip" data-placement="top" title="Edit"><span class="icon-circle"><i style="opacity:1;" class="text-primary fa fa-pen" aria-hidden="true"></i></span></a></div>*@
                            <div> <a href="#opentasklist" class="link-tasklist d-block text-primary mx-1" data-toggle="tooltip" data-placement="top" title="Tasklist"><span class="icon-circle"><i style="opacity:1;" class="text-primary fa fa-arrow-right" aria-hidden="true"></i></span></a></div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div class="profile-tasklistholder">
    <div class="row align-items-center">
        <div class="col-8 col-md-8">
            <div class="m-0">  <h4 class="mt-2 text-danger">AIRCO SAP Files</h4></div></div>
        <div class="col-4 col-md-4 text-right">
            <a href="#" class="link-closetasklist btn bg-white text-dark"><i class="fas fa-arrow-left mr-2"></i> Back to List</a>
        </div>
        <div class="col-md-12"> <hr /></div>
    </div> 
    <div class="row form-group m-0"> 
          <div class="col-md-4"> <h4 class="mt-2">Tasklist</h4></div>
        <div class="col-md-3 text-right"><label class="mt-2 control-label">Date Filter (From/To)</label></div>
        <div class="col-md-5">
            <div class="input-group">
                <input type="date" id="from" name="from" value="" placeholder="From" class="form-control" />
                <input type="date" id="to" name="to" value="" placeholder="To" class="form-control" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-filter icon" />
                    </button>

                </div>
            </div>
        </div>

    </div>
    <br />
    <div class="table-responsive">
        <table class="table" id="tasklist">
            <thead>
                <tr>
                    
                    <th style="min-width:100px;"><span style="display:inline-block;width:35px;"></span>Sender</th>
                    <th>Recipient</th>
                    <th  style="min-width:140px;">Receiver Process</th>
                    <th  style="min-width:120px;">Received Date</th>
                    <th  style="min-width:120px;">Process Date</th>
                    <th style="min-width:120px;">File Name</th> 
                    <th  style="min-width:120px;">Archive Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="  d-flex align-items-center">
                            <div><span title="RECEIVED" class="icon-circle  bg-transparent"><i class=" fa text-danger fa-check-double" style="font-size:18px;opacity:1;" aria-hidden="true"></i></span></div>
                            <div class="px-2 nowrap">
                                <strong>
                                    VISSYDSYDVD
                                </strong>
                            </div>
                        </div>
                    </td>
                    <td>DIRCOURSYD</td>
                    <td>CTCAdaptor</td>
                    <td>
                        02 Dec 2020 <br />10:30 AM
                    </td>
                    <td>
                        02 Dec 2020<br> 10:30 AM
                    </td>
                    <td>Message_</td>
                    <td>Week-1Dec2021.zip</td>
                </tr>
                <tr>
                    <td>
                        <div class="  d-flex align-items-center">
                            <div><span title="NOT RECEIVED" class="icon-circle  bg-transparent"><i class=" fa text-gray fa-check-double" style="font-size:18px;" aria-hidden="true"></i></span></div>
                            <div class="px-2 nowrap">
                                <strong>
                                    VISSYDSYDVD
                                </strong>
                            </div>
                        </div>
                    </td>
                    <td>DIRCOURSYD</td>
                    <td>CTCAdaptor</td>
                    <td>
                        02 Dec 2020 <br />10:30 AM
                    </td>
                    <td>
                        02 Dec 2020<br> 10:30 AM
                    </td>
                    <td>Message_</td>
                    <td>Week-1Dec2021.zip</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script>
    $(".link-tasklist").click(function (e) {
        e.preventDefault();
        $(".profile-tasklistholder").addClass("--open");
        $(".profileholder").addClass("--open");
        $(".profileholder-item").removeClass("--selected");

        $(this).parents(".profileholder-item").addClass("--selected");
    });
    $(".link-closetasklist").click(function (f) {
        f.preventDefault();
        $(".profile-tasklistholder").removeClass("--open");
        $(".profileholder").removeClass("--open");
        $(".profileholder-item").removeClass("--selected");
    });
   
    $('[data-toggle="tooltip"]').tooltip();
</script>