﻿@model Web_Node.Models.TaskListViewModel
@section styles {
    @Styles.Render("https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css")
    @Styles.Render("https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css")

}

@section scripts{
    @Scripts.Render("https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js")
    @*@Scripts.Render("https://code.jquery.com/jquery-3.5.1.js");*@
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js")




    <script type="text/javascript">

    //Ensures that nothing will happen until the whol page has been rendered.
    $(document).ready(function () {
        $('#tasklist').DataTable();
    });


    </script>
}

<div class="row align-items-center">
    <div class="col-8 col-md-8"><h2 class="m-0"><i class="fas fa-user-circle mr-2 " style="opacity:0.2;" aria-hidden="true"></i> Viewing  <strong>@Model.Profile.P_DESCRIPTION</strong> </h2></div>
    <div class="col-4 col-md-4 text-right">
        <a href="/Profile/Index" class="btn bg-white text-dark"><i class="fas fa-arrow-left mr-2"></i> Back to List</a>
    </div>
</div>
<br />
<br />

@using (Html.BeginForm("Tasklist", "Profile", FormMethod.Get))
{
    <div class="row form-group m-0">
        <div class="col-md-5"><h4 class="mt-2">Tasklist</h4></div>
        <div class="col-md-2 text-right"><label class="mt-2 control-label">Date Filter (From/To)</label></div>
        <div class="col-md-5">
            <div class="input-group">
                <input type="date" id="from" name="from" value="@ViewBag.from" placeholder="From" class="form-control" />
                <input type="date" id="to" name="to" value="@ViewBag.to" placeholder="To" class="form-control" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                        <span class="fa fa-filter icon" />
                    </button>

                </div>
            </div>
        </div>

    </div>
}

<br />
<div class="table-responsive">
    <table class="table" id="tasklist">
        <thead>
            <tr>
                <th style="min-width:100px;">Sender</th>
                <th>Recipient</th>
                <th>Receiver Process</th>
                <th>Received Date</th>
                <th>Process Date</th>
                <th>File Name</th>
                <th></th>
                <th>Archive Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Tasks)
            {
            <tr>
                <td>
                    <div class="d-flex align-items-center">
                        <div><span class="icon-circle  bg-transparent"><i class="  fa fa-clipboard" aria-hidden="true"></i></span></div>
                        <div class="px-2 nowrap">
                            <strong>
                                @task.TL_SenderID
                            </strong>
                        </div>
                    </div>
                </td>
                <td>@task.TL_RecipientID</td>
                <td>@task.TL_ReceiverProcess</td>
                <td>
                    @String.Format("{0:d MMM, yyyy}", task.TL_ReceiveDate) <br />
                    @String.Format("{0:hh:mm tt}", task.TL_ReceiveDate)
                </td>
                <td>
                    @String.Format("{0:d MMM, yyyy}", task.TL_ProcessDate) <br />
                    @String.Format("{0:hh:mm tt}", task.TL_ProcessDate)
                </td>
                @if (task.TL_Processed)
                {
                    <td><a href="@Path.Combine(task.TL_Path, task.TL_FileName)" filename="@task.TL_OrginalFileName"> @task.TL_OrginalFileName</a></td>
                }
                else
                {
                    <td>@task.TL_OrginalFileName</td>
                }

                <td class="text-center">
                    @if (task.TL_Processed)
                    {
                        <i data-toggle="tooltip" data-placement="top" title="@task.TL_Processed" class="fas fa-check-double text-danger" style="font-size:22px;"></i>
                    }
                    else
                    {
                        <i class="fas fa-check text-muted" data-toggle="tooltip" data-placement="top" title="@task.TL_Processed" style="font-size:22px;"></i>
                    }
                </td>
                <td>@task.TL_ArchiveName</td>
            </tr>

            }


        </tbody>
    </table>
</div>