﻿@model Web_Node.Models.CustomerViewModel

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles {
    @Styles.Render("https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css")
    @Styles.Render("https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css")

}

@section scripts{
    @Scripts.Render("https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js")
    @*@Scripts.Render("https://code.jquery.com/jquery-3.5.1.js");*@
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js")




<script type="text/javascript">

    //Ensures that nothing will happen until the whol page has been rendered.
    $(document).ready(function () {
        $('#customerList').DataTable();
    });


</script>
}
<div class="row align-items-center">
    <div class="col-8 col-md-8"><h2 class="m-0"><i class="fas fa-users mr-2 " style="opacity:0.2;" aria-hidden="true"></i> Customers</h2></div>

    @if (User.IsInRole("Administrator"))
    {
        <div class="col-4 col-md-4 text-right">
            <a href="@Url.Action("Details", "Customer")" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> <span>Add Customer</span></a>
        </div>
    }

</div>
<br/>

<div class="table-responsive">
    <table id="customerList" class="table  ">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer code</th>
                <th>Short Name</th>
                <th>Is Active</th>
                <th>Has Satellite</th>
                <th>Profiles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model.Customers)
            {
            <tr>
                <td>
                    <a href="@Url.Action("Details", "Customer", new { @id = @cust.C_ID }, null)" class="text-dark">
                        <div class="d-flex align-items-center">
                            <div><span class="icon-circle  bg-transparent"><i  class="  fa fa-users" aria-hidden="true"></i></span></div>
                            <div class="px-2">
                                <strong>
                                    @cust.C_NAME
                                </strong>
                            </div>
                        </div>
                    </a>
                </td>

                <td>@cust.C_CODE</td>
                <td>@cust.C_SHORTNAME</td>
                <td class="text-center">
                    <label class="form-checkbox d-none">
                        @Html.CheckBox("C_IS_ACTIVE", cust.C_IS_ACTIVE == "Y" ? true : false, new { @disabled = "disabled" })
                    </label>
                    @{
                        if (cust.C_IS_ACTIVE == "Y")
                        {
                            <span class="badge d-block py-1 fs-14 badge-danger">ACTIVE</span>
                        }
                        else
                        {
                            <span class="badge d-block py-1 fs-14 badge-light">INACTIVE</span>
                        }
                    }


                </td>
                <td>
                    <label class="form-checkbox d-none">
                        @Html.CheckBox("C_SATELLITE", cust.C_SATELLITE == "Y" ? true : false, new { @disabled = "disabled" })
                    </label>
                    @{
                        if (cust.C_SATELLITE == "Y")
                        {
                            <span class="badge d-block py-1 fs-14 badge-danger">HAS SATELLITE</span>
                        }
                        else
                        {
                           
                        }
                    }
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto"> <a href="@Url.Action("Index", "Profile", new { @id = @cust.C_ID }, null)" class="d-block text-primary mx-1" data-toggle="tooltip" data-placement="top" title="Profiles"><span class="icon-circle"><i style="opacity:1;" class="text-primary fa fa-arrow-right" aria-hidden="true"></i></span></a></div>
                    </div>
                </td>
            </tr>
            }
        </tbody>

    </table>
</div>


