﻿:root {
    --theme-red: #fc0606;
}
body {
    padding: 0px;
    margin: 0px;
    background: #fafafa;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 61px;
    padding-bottom: 10px;
    padding-left: 250px;
    min-height: 100vh;
    background-color: #f2f2f2;
    z-index: 1;
    position: relative;
    left: 0;
}
.header-user-info {
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 300px;
    right: 0;
    height:60px;
    padding-top:8px;
    z-index: 100;
}
.body-content .container{
    max-width:100% !important;
    padding-right:30px !important;
    padding-left:30px !important;
}
/*input,
select,
textarea {
    max-width: 600px !important;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.tm-fa-fw {
    text-align: center;
    width: 1.25em;
    padding-right: 1.5em;
}

.tm-nav-link {
    font-size: large;
    color: grey;
    display: block;
    padding-top: 0.9rem;
    padding-right: 1.25rem;
}

.active {
    color: white !important;
}

a:hover {
    color: red;
    text-shadow: 1px 5px 11px white;
}


.table-warning,
.table-warning > th,
.table-warning > td {
    background-color: #eebb60;
}

    .table-warning th,
    .table-warning td,
    .table-warning thead th,
    .table-warning tbody + tbody {
        border-color: #bd8013;
    }

.table-hover .table-warning:hover {
    background-color: #d6a650;
}

    .table-hover .table-warning:hover > td,
    .table-hover .table-warning:hover > th {
        background-color: #d6a650;
    }

.table-ok,
.table-ok > th,
.table-ok > td {
    background-color: #c9ed9b;
}

    .table-ok th,
    .table-ok td,
    .table-ok thead th,
    .table-ok tbody + tbody {
        border-color: #88c23f;
    }

.table-hover .table-ok:hover {
    background-color: #badb91;
}

    .table-hover .table-ok:hover > td,
    .table-hover .table-ok:hover > th {
        background-color: #badb91;
    }

    .send {
        background-color: lightskyblue !important;
    }
    .receive {
        background-color: lawngreen !important;
    }

#form-control-longtext {
    width:600px !important;
}

#page_login {
    position: relative;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 180px;
    display: block;
    background-color: #000000;
    background-image: linear-gradient( 135deg, #000000 0%, rgba(255,255,255,0.5) 100%);
}

#loginForm {
    color: #fff;
    padding: 50px 50px;
    border-top: 7px solid #dd1d23;
    background: rgba(0,0,0,0.1);
}

#page_login .container {
    position: relative;
    z-index: 2;
}

#page_login footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.form-group .control-label {
    font-weight: 600;
}

#loginForm .btn, #loginForm .form-control, .btn {
    border-radius: 0;
    height: 45px;
    line-height: 30px;
    font-size: 0.875rem;
    font-weight: 500; 
}
.btn{
    font-weight:600;
    text-transform:uppercase;
}
#loginForm h4 {
    font-weight: 300;
}

#loginForm .btn.btn-primary, .btn.btn-primary {
    background-color: #fc0606 !important;
    letter-spacing: 1px;
    border-color: #fc0606 !important;
}

    #loginForm .btn.btn-primary:hover, .btn.btn-primary:hover {
        background-color: #dd1d23 !important;
        border-color: #dd1d23 !important;
    }

#loginForm hr {
    background-color: #fff;
    opacity: 0.1;
}

.page-diagonal {
    position: fixed;
    width: 100%;
    max-width: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
}

    .page-diagonal:after {
        content: "";
        position: fixed;
        bottom: 0;
        right: -130px;
        width: 650px;
        height: 100px;
        transform: rotate(-45deg);
        background-color: #aaa;
        opacity: 0.05;
    }

    .page-diagonal:before {
        content: "";
        position: fixed;
        bottom: 0;
        right: -250px;
        width: 500px;
        height: 100px;
        transform: rotate(-45deg);
        background-color: #aaa;
        opacity: 0.05;
    }

    .page-diagonal span:before {
        content: "";
        position: fixed;
        bottom: 0;
        right: -210px;
        width: 1200px;
        height: 100px;
        transform: rotate(-45deg);
        background-color: #aaa;
        opacity: 0.05;
    }

    .page-diagonal span:after {
        content: "";
        position: fixed;
        bottom: 0;
        right: -315px;
        width: 1800px;
        height: 100px;
        transform: rotate(-45deg);
        background-color: #fc0606;
        opacity: 0.05;
    }

#loginForm a {
    display: block;
    font-size: 11px;
    line-height: 31px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.1);
    height: 45px;
    font-size: 0.875rem;
    text-decoration: none !important;
    letter-spacing: 1px;
    text-shadow: none !important;
}

    #loginForm a:hover {
        background-color: rgba(255,255,255,0.3);
        border-color: rgba(255,255,255,0.3);
    }

#mainMenu {
    min-width: 80px;
    width:250px;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    color: #fff;
    height: 100vh;
    background: #333;
    background-image: linear-gradient( 135deg, #000 0%, rgba(146,145,146,0.5) 100%);
    transition: all 0.3s;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 200;
    padding-bottom: 50px;
}
#navbarSupportedContent,
#navbarSupportedContent  ul{
    padding-left: 0;
    width:100%;
}
#navbarSupportedContent ul li.tm-nav-link {
    padding: 0;
}
#navbarSupportedContent ul li.tm-nav-link a {
    padding: 10px 15px;
    font-size: 0.9em;
    display: block;
    letter-spacing: 1px;
    color:#fff;
}
#navbarSupportedContent ul li.tm-nav-link a.active{
    color: #fff;
    text-shadow:unset !important;
    background: #545454;
}
#navbarSupportedContent ul li.tm-nav-link a:not(.active):hover {
    color: #000;
    text-shadow: unset !important;
    background: #fff;
}
#navbarSupportedContent ul li.tm-nav-link a i {
    width: 25px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-right:5px;
}
#navbarSupportedContent ul li.tm-nav-link a i:before {
    text-align: center;
}
.table,
table.dataTable {
    border-collapse: separate !important;
    border-spacing: 0 5px !important;
}

.table thead th,
table.dataTable thead th {
    border: 0 !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
    color: #222;
    font-size: 12px;
    padding: 10px 8px !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: 0 !important;
}

table.dataTable.stripe tbody tr.odd td, table.dataTable.display tbody tr.odd td,
table.dataTable.stripe tbody tr.even td, table.dataTable.display tbody tr.even td {
    background-color: #fff !important;
    border: 0;
}

table.dataTable tbody tr.odd:hover td, table.dataTable tbody tr.even:hover td,
table.dataTable tbody tr.odd.highlight td, table.dataTable tbody tr.even.highlight td {
    /*background-color: #f2f2f2 !important;*/
    cursor: pointer;
    color: #000;
    border: 0;
}
.dataTables_wrapper .dataTables_filter input {
    border-radius: 0;
    height: 40px;
    border: 0;
    line-height: 30px;
    font-size: 0.875rem;
    padding-left: 38px !important;
    outline: 0 !important;
    width: 300px;
    background-color: #fff;
}

.panel .dataTables_wrapper .dataTables_filter input {
    background-color: #f1f1f1;
}

.dataTables_wrapper .dataTables_filter label {
    font-size: 0;
    position: relative;
}

table.dataTable.no-footer {
    border-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_length label {
}

.dataTables_wrapper .dataTables_length select {
    border: 0;
    height: 40px;
    padding: 0 10px;
    width:60px;
    display:inline-block;
    border-radius:0;
}

.dataTables_wrapper .dataTables_filter label:before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-rendering: auto;
    font-size: 18px;
    color: #000;
    position: absolute;
    left: 15px;
    top: 8px;
    height: 20px;
    z-index: 1;
    width: 20px;
}
.table-responsive {
    padding-left: 15px;
    padding-right: 15px;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #fff !important;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer !important;
    padding:0 !important;
    outline:none !important;
    border:0 !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: var(--theme-red) !important;
    border-color: var(--theme-red) !important;
    color: #fff !important;
}
.table tbody tr {
    box-shadow: 0 3px 5px rgba(0,0,0,0.05);
}

.table tr td { 
    vertical-align: middle;
    border: 0 !important;
    background-color:#fff;
    padding: 10px 8px !important;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 8px !important;
}


table.dataTable.no-footer{
    border-bottom:0 !important;
}
.table-gray.dataTable.display tbody tr.odd td, .table-gray.dataTable.display tbody tr.even td {
    border: 0;
}

span i, .icon-circle i {
    opacity: 0.5;
    color: #aaa;
}
.sidebar-user-info span,
.icon-circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.05);
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}
.panel {
    background-color: #fff;
    margin-bottom:15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form-group .control-label {
    font-weight: 600;
}
.form-group .form-control {
    border-radius: 0;
    height: 45px;
    line-height: 30px;
    font-size:1rem;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: inset 0 0px 20px rgba(0, 0, 0, 0.05);
}
.bg-light {
    background-color: #f5f5f5 !important;
}
.form-checkbox {
    height: 20px;
    width: 20px;
    text-align: center;
    position: relative;
    margin: 0;
}

    .form-checkbox input[type="checkbox"] {
        position: relative;
        -webkit-appearance: none;
        height: 20px;
        border: 2px solid #aaa;
        width: 20px;
    }

    .form-checkbox input:checked {
        color: var(--theme-red) !important;
        background-color: var(--theme-red) !important;
        border: 2px solid var(--theme-red) !important;
    }

        .form-checkbox input:checked:before {
            content: "";
            position: absolute;
            height: 16px;
            border-radius: 2px;
            width: 16px;
            top: -1px;
            left: 0px;
            z-index: 0;
            background-color: #fff;
            clip-path: polygon(13% 49%, 41% 71%, 83% 17%, 100% 30%, 43% 100%, 0 66%);
        }

    .form-checkbox input:disabled {
        background-color: #aaa !important;
        border: 2px solid #aaa !important;
    }
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--theme-red);
    border-color: var(--theme-red);
}
.page-link{
    color:#000;
}
.border-gray {
    border: 1px solid #dcdcdc;
}
.nowrap{
    white-space:nowrap;
}
.profile-tasklistholder{
    height:100%;
    position:fixed;
    z-index:10;
    top:0;
    right:0;
    background:#efefef;
    width:50%;
    box-shadow:0 3px 14px rgba(0,0,0,0.1);
    padding-top:75px;
    padding-right:15px;
    padding-left:15px;
    transform:translateX(100%);
    transition:all ease-in-out 0.2s;
    overflow-y:hidden;
}
.profile-tasklistholder.--open{
    transform:translateX(0);
}
.profileholder{
}
.profileholder.--open{
    width:calc(50% - 150px) !important;
}
.profileholder.--open .hide-open{
    display:none !important;
}
.profileholder-item.--selected .profile-cname strong{
    color: #dd1d23 !important;
}
.navbar-toggler{
    display:none !important;
}
.btn.bg-white:hover {
    color: #dd1d23 !important;
}