﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - By CTC</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/7f456184fc.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="wrapper">
        @*@if (User.IsInRole("DoXinAdmin"))
            {
                @Html.Partial("_AdminMenu")
            }
            @if (User.IsInRole("User"))
            {

                @Html.Partial("_NavMenu")
            }*@

        @*<div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span>Toggle Sidebar</span>
                        </button>

                    </div>
                </nav>
            </div>*@
       
            @RenderBody()  
    </div>





    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

</body>
</html>
